# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

| Data Science Tools|
|-------------------|
|   Apache Spark  |
|   SAS  |
|   Tableau  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
print(200//60, 'hours and',200%60, 'minutes')

3 hours and 20 minutes

**Objectives:**
- Python
- R
- SQL
- Java
- Julia
- Scala
- C/C++
- JavaScript

## Author 
Fatemeh Eslaminasab